#docBody {
    width:1200px;
    margin: 20px auto;
    font-size: 14px;
}
.hot_block {
    width:988px
}
.det_t_bg .Ssc-logo {
    background-position: 0 -1049px;
}
.s-logo, .Ssc-logo {
    position: absolute;
    left: 20px;
    top: 0;
    width: 72px;
    height: 72px;
    text-indent: -2000em;
    background: url(/images/s-logo.png) no-repeat left -1px;
}
.ftsimsun {
    font-family:simsun
}
label {
    font-family:Tahoma;
    display:inline-block;
    vertical-align:middle
}
#pathNav {
    line-height:20px;
    padding-bottom:10px;
    font-family:simsun
}
#pathNav a:link,#pathNav a:visited {
    color:#333
}
#pathNav a:hover {
    color:#ba2636
}
#pathNav i {
    color:#727171
}
#pathNav a,#pathNav span {
    margin:0 5px
}
#mainBody {
    float:left;
    width:100%;
    _height:400px;
    min-height:400px;
    border:1px solid #dedede
}
#infoNav {
    _height:500px;
    min-height:500px;
    margin-left:762px;
    _margin-left:759px
}
.game_header {
    clear:both;
    border-bottom:3px solid #ba2636;
    background:#fff;
    position:relative;
    z-index:10;
    height:74px
}
.headerBox {}
.headerBox .titleBox {
    clear:both;
    float:none;
    height:36px;
    line-height:31px;
    position:relative;
    padding-top:10px;
    z-index:10
}
.headerBox .cz_logo {
    left:5px;
    position:absolute;
    top:-15px
}
.headerBox h1 {
    font-family:'微软雅黑',Simsun;
    font-size:20px;
    font-weight:bold;
    margin-left:110px;
    display:inline
}
.headerBox .today_kj {
    display:inline-block;
    background:url(/images/tipimgs.png?32f301a5818f3ee835e7f434859efc09) no-repeat 0 -194px;
    width:51px;
    height:16px;
    margin:8px 10px 0 0
}
.headerBox .abstract {
    display:block;
    clear:both;
    position:relative;
    padding-left:110px;
    height:30px;
    margin-top:-3px
}
.headerBox .abstract span {
    margin-right:2em;
    color:#727171
}
.headerBox .abstract .gameperiod {
    position:absolute;
    right:20px;
    top:0
}
.iconLevel {
    width:60px;
    height:60px;
    display:block;
    background:url(/images/icon_level.png?22d3dc3547a1b7754fd06b97c814c3a3) no-repeat;
    border:1px solid #c2c2c2
}
.level1 {
    background-position:0 0
}
.level2 {
    background-position:-61px 0
}
.level3 {
    background-position:-122px 0
}
.level4 {
    background-position:-183px 0
}
.level5 {
    background-position:-244px 0
}
.level6 {
    background-position:-305px 0
}
.mt10 {
    margin-top:10px
}
.ml15 {
    margin-left:15px
}
.mr15 {
    margin-right:15px
}
.grayBtn25 {
    display:inline-block;
    height:23px;
    padding:0 11px;
    background:url(/images/btn_repeat.png?2741409559cf194be56d038f2b397b77) 0 -103px repeat-x;
    font:12px/23px simsun;
    color:#333;
    border:1px solid #c3c3c3;
    text-align:center;
    border-radius:2px;
    -webkit-border-radius:2px;
    cursor:pointer
}
.grayBtn25:link,.grayBtn25:visited,.grayBtn25:hover {
    color:#333;
    text-decoration:none
}
.redBtn22 {
    display:inline-block;
    height:22px;
    width:75px;
    position:relative;
    top:-1px;
    background:url(/images/btn_repeat.png?2741409559cf194be56d038f2b397b77) 0 0 repeat-x;
    font:12px/23px simsun;
    color:#fff;
    text-align:center;
    border-radius:2px;
    -webkit-border-radius:2px;
    cursor:pointer
}
.redBtn22:link,.redBtn22:visited,.redBtn22:hover {
    color:#fff;
    text-decoration:none
}
.smallRedball,.smallBlueball {
    display:inline-block;
    height:21px;
    width:20px;
    color:#fff;
    font:bold 14px/21px simsun;
    background:url(../../img/newballs.png?239875faeffaefd42e5e828ba7ef3acb) no-repeat 0 -38px;
    text-align:center
}
.smallBlueball {
    background-position:-23px -38px
}
.paybox {
    background:#f6f6f6;
    border-top:1px solid #dedede;
    padding:5px 0;
    text-align:center;
    font-family:simsun;
    clear:both;
    zoom:1
}
.paybox .mcSelectBox {
    height:20px;
    padding:0 20px 0 5px;
    margin-right:5px;
    background:#fff;
    text-align:left;
    border:1px solid #c6c6c6;
    border-color:#969696 #c6c6c6 #c6c6c6 #969696;
    display:inline-block;
    vertical-align:middle
}
.paybox .mcSelectBox em {
    display:inline-block;
    height:20px;
    line-height:20px;
    overflow:hidden
}
.paybox .mcSelectBox .optionList {
    width:97px;
    text-indent:10px;
    margin-top:-4px;
    line-height:22px
}
.paybox .mcSelectBox .optionList span {
    display:block;
    border:0
}
.paybox .mcSelectBox i {
    top:8px
}
.paybox .input {
    height:20px;
    border:1px solid #c6c6c6;
    border-color:#969696 #c6c6c6 #c6c6c6 #969696;
    width:74px;
    padding:0 5px
}
.betting_Btn,.full_Btn,.end_Btn {
    padding:0;
    border:0;
    background:url(/images/lotteryBaseImg.png) no-repeat 0 -180px;
    width:156px;
    height:43px;
    display:block;
    margin:10px auto;
    cursor:pointer
}
.betting_Btn:hover {
    background-position:0 -225px
}
.full_Btn {
    background-position:0 -595px;
    width:146px;
    cursor:default
}
.end_Btn {
    background-position:0 -445px;
    width:146px;
    cursor:default
}
.treaty {
    text-align:center
}
.treaty a,.treaty a:link,.treaty a:visited {
    color:#1e50a2
}
.treaty a:hover {
    color:#ba2636
}
.tit {
    height:27px;
    font:bold 12px/27px simsun;
    padding-left:10px;
    background:#f5f5f5;
    border:1px solid #ddd;
    position:relative
}
.listTable {
    width:100%;
    border:1px solid #ddd;
    border-top:0;
    table-layout:fixed;
    margin-top:-1px;
    text-align:right
}
.listTable th,.listTable td {
    line-height:18px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    padding-bottom:6px
}
.listTable thead th {
    background-color:#f7f7f7;
    padding:3px 0 4px 0
}
.listTable td {
    background:url(../../img/userCenter/line_dashed.png?c653188f6d398985104a937a1ca4ec45) left top repeat-x;
    padding:6px 0
}
.listTable td .lamp {
    background:url(../../img/lamp.gif?412c2670238f1dcae9ed83cf5f16a183) 0 0 no-repeat;
    display:inline-block;
    width:13px;
    height:13px
}
.listTable .tr {
    text-align:right;
    padding-right:10px
}
.listTable .tl {
    text-align:left;
    padding-left:10px
}
.listTable .tc {
    text-align:center
}
.icoBao {
    background:#ea6c6f;
    line-height:normal;
    padding:0 2px;
    _padding-top:2px;
    color:#fff;
    margin:0 2px
}
.helpList {
    padding:10px;
    line-height:22px;
    border:1px solid #ddd;
    border-top:0
}
.helpList li {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}
.helpList a,.helpList a:visited {
    color:#333
}
.helpList a:hover {
    color:#ba2636
}
.icoAngle {
    position:absolute;
    top:7px;
    z-index:203;
    width:0;
    height:0;
    overflow:hidden;
    margin-left:5px;
    border-width:4px 4px 0;
    border-color:#626262 transparent transparent;
    border-style:solid;
    _border-style:solid dotted;
    -webkit-transition:-webkit-transform .2s ease-in;
    -moz-transition:-moz-transform .2s ease-in;
    -ms-transition:-ms-transform .2s ease-in;
    -o-transition:-o-transform .2s ease-in;
    transition:transform .2s ease-in;
    zoom:1
}
.active .icoAngle {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -ms-filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
}
.table_grayborder {
    border:1px solid #ffc3b3;
    border-top:0;
    font-size:12px;
    width:100%;
    background-color:#fff
}
.table_grayborder th,.table_grayborder td {
    height:26px;
    border:1px solid #e6e6e6;
    background-color:#fff;
    padding:1px 0 1px 10px
}
.table_grayborder th {
    font-weight:bold;
    border-top:0
}
.gray_list_1 li.z_end {
    float:right;
    line-height:28px
}
.play_eg_box {
    position:relative;
    z-index:100
}
.play_eg_box:hover {
    border:0;
    z-index:200
}
.play_eg_box span {
    display:none;
    white-space:nowrap
}
.play_eg_box:hover span {
    display:block;
    width:130px;
    background:#fff;
    position:absolute;
    left:0;
    top:15px;
    color:#666;
    border:2px solid #ff9600;
    padding:5px;
    line-height:16px
}
.play_eg_box:hover .auto {
    border-color:#e3e3e3;
    width:65px;
    text-align:center;
    left:-25px;
    white-space:nowrap;
    font-size:14px
}
.chipped {
    font-size:12px;
    border-top:0
}
.chipped a {
    font-family:'宋体'
}
.chipped h3 {
    height:24px;
    line-height:24px;
    background:#fff4dd;
    padding:0 10px;
    color:#ba2636;
    font-size:14px;
    font-weight:bold;
    border-bottom:#fff 1px solid;
    -webkit-box-shadow:0 1px 1px #f8e3b7;
    -moz-box-shadow:0 1px 1px #f8e3b7;
    -o-box-shadow:0 1px 1px #f8e3b7;
    position:relative
}
.chipped h3 span {
    float:right;
    color:#b8a47a;
    font-size:12px;
    font-weight:500
}
.chipped table.main_table {
    line-height:18px;
    margin-top:20px
}
.chipped table.main_table th {
    font-weight:bold;
    text-align:right;
    vertical-align:top;
    padding:3px 0;
    width:83px
}
.chipped table.main_table td {
    vertical-align:top;
    padding:3px 0
}
.chipped .plan_info {
    position:relative;
    padding-bottom:30px;
    zoom:1;
    overflow:hidden
}
.chipped .plan_info td {
    width:370px
}
.chipped .all_info_box {
    border:1px solid #eb5f5f;
    background:#fbdada;
    margin-top:-1px;
    zoom:1;
    position:relative;
    z-index:10;
    display:none;
    line-height:30px;
    width:auto
}
.chipped .all_info_table {
    text-align:center;
    margin-top:-1px;
    line-height:24px;
    width:100%
}
.chipped .all_info_table tr th {
    color:#333;
    text-align:center;
    font-weight:normal;
    border-bottom:1px solid #f0f0f0
}
.chipped .all_info_table tr th,.all_info_table tr td {
    padding:3px 0
}
.chipped .all_info_table tr td {
    background:url(../../images/index_repeat.png?t=20120509) repeat-x scroll 0 bottom #fff
}
.chipped .all_info_box .index_page,.all_info_box .index_page {
    height:28px;
    line-height:28px;
    padding-top:0;
    background-color:#fff
}
.stress {
    color:#ba2636;
    font-weight:bold
}
.bar_new {
    border:#cecece 1px solid;
    height:22px;
    line-height:22px;
    width:370px;
    display:inline-block;
    position:relative;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -moz-border-radius:3px;
    background:#f9f9f9;
    *zoom:1
}
.bar_new em {
    height:20px;
    line-height:20px;
    display:inline-block;
    position:absolute;
    top:1px;
    left:1px;
    background:#e34b46;
    background:-webkit-gradient(linear,0 0,0 bottom,from(#fe8448),to(#e34b46));
    background:-moz-linear-gradient(#fe8448,#e34b46);
    background:-o-linear-gradient(#fe8448,#e34b46);
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -moz-border-radius:2px;
    text-align:center;
    color:#fff;
    font-weight:bold;
    font-size:14px;
    zoom:1
}
.bar_new span {
    width:100px;
    text-align:center;
    border-left:#4c4c4c 1px solid;
    height:16px;
    line-height:16px;
    position:absolute;
    right:0;
    top:3px;
    z-index:2;
    font-size:12px;
    font-weight:500;
    color:#4c4c4c
}
.initiator_info {
    float:right;
    margin-top:20px;
    border:#e9e9e9 1px solid;
    background:#f2f2f2;
    background:-webkit-gradient(linear,0 0,0 bottom,from(#fff),to(#f2f2f2));
    background:-moz-linear-gradient(#fff,#f2f2f2);
    background:-o-linear-gradient(#fff,#f2f2f2);
    padding:8px;
    font-family:'宋体';
    width:162px;
    position:relative;
    zoom:1
}
.initiator_info li {
    font-weight:bold;
    color:#7e7e7e;
    width:162px
}
.initiator_info .initiator {
    background:url(../../images/icon_ini.png) no-repeat;
    padding-top:12px;
    height:57px;
    width:162px;
    border-bottom:#dadada 1px solid;
    text-align:center
}
.initiator_info .initiator a {
    font-size:14px;
    font-weight:bold
}
.initiator_info .txt_title {
    display:inline-block
}
.award {
    text-align:center;
    border-top:#fff 1px solid;
    padding:15px 0
}
.award em {
    color:#b61f1f;
    font:bold 18px/18px Arial,'微软雅黑','宋体';
    vertical-align:top;
    _vertical-align:0;
    display:inline-block
}
.initiator_info li a {
    font-size:12px;
    font-weight:500
}
.tag_hemai_off,.tag_hemai,.tag_hemai_off em,.tag_hemai em {
    background:url(../../images/lab_bg.png?t=20111021) right -210px no-repeat;
    display:inline-block;
    cursor:pointer;
    height:23px;
    line-height:22px
}
.tag_hemai_off,.tag_hemai {
    padding-right:20px;
    position:relative;
    z-index:20
}
.tag_hemai_off em,.tag_hemai em {
    padding-left:5px
}
.tag_hemai {
    background-position:right -238px;
    height:32px
}
.tag_hemai em {
    background-position:left -238px;
    height:32px;
    line-height:24px;
    vertical-align:top
}
.tag_hemai_off em {
    background-position:left -210px;
    height:22px;
    line-height:24px;
    vertical-align:top
}
.initiator_info h4 {
    color:#7e7e7e;
    font-weight:bold;
    padding:0 0 3px 0
}
.awardMod {
    border-top:1px solid #fff;
    padding:5px 0 0 0
}
.awardMod a {
    cursor:pointer;
    padding-top:5px\9;
+padding:0
}
.awardMod em {
    vertical-align:text-bottom
}
.winMoney strong {
    color:#b61f1f;
    font:bold 16px/1.0 "宋体"
}
.startMen {
    padding:0 0 0 72px;
    height:70px;
    border-bottom:1px solid #dadada
}
.startMen a {
    cursor:pointer;
    word-break:break-all;
    word-wrap:break-word;
    display:block
}
.startMen span {
    margin:0 0 0 -70px;
    position:absolute
}
.startMen .iconLevel {
    border:0
}
.winMoney {
+padding-bottom:3px;
    _padding-bottom:3px
}
.white_btn {
    text-align:center;
    width:101px;
    height:32px;
    line-height:32px;
    text-decoration:none;
    display:inline-block;
    background:url(../../images/lab_bg.png?t=20111024) -1px -282px no-repeat
}
.chipped .white_btn {
    color:#2b2b2b;
    text-decoration:none
}
.chipped .initiator_info .white_btn {
    color:#e05b16;
    font-weight:bold
}
.chipped .white_btn {
    color:#2b2b2b;
    text-decoration:none
}
.split_info {
    width:348px;
    padding-bottom:1px
}
.split_info h6 {
    background:#f2f2f2
}
.split_info h6,.split_info p {
    margin-bottom:-1px;
    border:#cecece 1px solid
}
.split_info h6 span {
    background:#f2f2f2;
    height:27px;
    line-height:27px
}
.split_info span {
    border-left:#cecece 1px solid;
    margin-left:-1px;
    width:115px;
    text-align:center;
    display:inline-block;
    height:34px;
    line-height:34px
}
.buy_info {
    width:200px;
    padding-left:381px;
    margin-top:-67px
}
.buy_info_no {
    margin-top:-41px
}
.buy_info .stress {
    color:#e05b16;
    padding:3px 0
}
#user_box th {
    color:#c75d5d;
    width:auto
}
.user_buy_num {
    font-size:14px;
    padding:30px 0 15px 200px
}
.user_buy_num .stress {
    margin:0 3px
}
.user_buy_num span {
    margin:0 10px
}
.chose_info .submit_btn {
    margin:0
}
.chipped .sfc_xh {
    width:auto
}
.chipped .sfc_info {
    position:relative;
    zoom:1
}
.chipped .sfc_info span {
    margin:0 5px
}
.scheme_list {
    position:absolute;
    right:10px;
    top:0
}
.chipped .sfc_xh table {
    margin-left:-1px;
    border-top:#eb5f5f 1px solid;
    width:100%
}
.chipped .sfc_xh table th,.chipped .sfc_xh table td {
    border-bottom:#eb5f5f 1px solid;
    border-left:#eb5f5f 1px solid
}
.chipped .sfc_xh table th {
    background:none #ffbebe;
    color:#b62929;
    width:auto;
    vertical-align:middle
}
.chipped .sfc_xh table td {
    background:none #fff;
    vertical-align:middle;
    font-size:13px
}
.chipped .sfc_xh table .src_sp {
    background:#da4444;
    color:#fff;
    height:12px;
    line-height:12px
}
#sfc_popup {
    width:780px
}
.chipped .sfc_xh table .spf_tzfa {
    font-size:12px;
    line-height:14px;
    padding:2px 0;
    color:#ccc
}
.chipped .sfc_xh table .yx {
    font-weight:bold;
    color:#2b2b2b
}
.chipped .sfc_xh table .xz {
    font-weight:bold;
    background-color:#a71b1b;
    color:#fff
}
.chipped .sfc_xh table .qtwf_tzfa {
    font-size:12px;
    line-height:14px;
    padding:2px 0;
    color:#2b2b2b
}
.chipped .sfc_xh table .qtwf_tzfa em,.chipped .sfc_xh table .qtwf_tzfa strong {
    line-height:14px;
    padding:2px 8px;
    display:inline-block
}
.chipped .sfc_xh table .qtwf_tzfa em.xz {
    background-color:#a71b1b;
    color:#fff;
    border:1px solid #6d0c0c;
    padding:1px 7px;
    font-weight:normal
}
.chipped .sfc_xh table .qtwf_tzfa strong em {
    padding:0;
    font-weight:bold
}
.chipped .sfc_xh table .qtwf_tzfa strong em.xz {
    font-weight:bold
}
.chipped .sfc_xh table td.t_l {
    text-align:left
}
.src_single {
    height:325px;
    overflow-y:scroll;
    overflow-x:hidden;
    width:auto
}
.src_single .zjcx_table {
    width:742px;
    margin:0 auto
}
#sfc_popup table th,#sfc_popup table td {
    text-align:center;
    font-size:12px;
    border-right:#c7c7c7 1px solid
}
#sfc_popup table .odd td {
    background:#ececec
}
#sfc_popup table th {
    background:#fbdada;
    color:#d26565;
    font-weight:bold;
    border-bottom:#c7c7c7 1px solid;
    height:24px
}
#sfc_popup table td {
    height:30px
}
.hemai_title {
    width:285px
}
.share_box {
    position:absolute;
    top:25px;
    left:380px;
    z-index:99;
    zoom:1
}
.share_plan {
    width:80px;
    display:inline-block;
    height:30px
}
.share_plan em {
    background:url(../../images/icon_lucency.png?t=20120508) -292px -43px no-repeat;
    width:10px;
    height:13px;
    display:inline-block;
    margin-left:3px;
    margin-bottom:-2px
}
#shares {
    position:absolute;
    display:none;
    background:#fff;
    border:1px solid #b2b2b2;
    padding:5px;
    width:150px;
    top:25px;
    left:-10px
}
.hover #shares {
    display:block
}
#shares a {
    display:inline-block;
    font-weight:500;
    width:68px;
    margin:3px 2px
}
#shares a b {
    background:url(../../images/icon_common_1.png?t=20111128) no-repeat;
    display:inline-block;
    width:16px;
    height:16px;
    margin-right:2px;
    vertical-align:middle
}
#shares a b.s_wywb {
    background-position:-57px -171px
}
#shares a b.s_rrw {
    background-position:-20px -171px
}
#shares a b.s_kxw {
    background-position:-76px -171px
}
#shares a b.s_qq {
    background-position:-39px -171px
}
#shares a b.s_dbw {
    background-position:-94px -171px
}
#shares a b.s_sina {
    background-position:0 -171px
}
#shares span {
    display:inline-block;
    position:absolute
}
.cusp01,.cusp02 {
    position:absolute;
    display:block;
    height:0;
    line-height:0
}
#shares .cusp01 {
    border-color:transparent transparent #dcdcdc;
    border-style:none solid solid;
    border-width:0 9px 9px;
    left:25px;
    top:-10px;
    _border-color:#fff #fff #dcdcdc;
    zoom:1
}
#shares .cusp02 {
    border-color:transparent transparent #fff;
    border-style:none solid solid;
    border-width:0 9px 9px;
    left:25px;
    top:-9px;
    _border-color:tomato tomato #fff;
    _filter:chroma(color=tomato);
    zoom:1
}
.football_table {
    width:100%;
    border:1px solid #cbcbcb;
    background:#fff
}
.football_table th {
    background:url(../../images/cai_repeat.png) repeat-x;
    color:#666;
    border-bottom:1px solid #cbcbcb
}
.football_table .r_t {
    color:#f00;
    font-weight:bold
}
.football_table .g_t {
    color:#467902;
    font-weight:bold
}
.football_table th,.football_table td {
    text-align:center;
    padding:3px 5px;
    font-size:12px
}
.football_table em {
    font-size:14px;
    width:31px;
    height:30px;
    padding-bottom:5px;
    line-height:30px;
    display:inline-block;
    color:#000;
    font-weight:bold;
    cursor:pointer;
    background:url(../../images/icon_lucency.png?t=20120508) -70px 0 no-repeat
}
.football_table em.fover {
    background-position:0 0;
    color:#fff
}
.table_r14_hm {
    border:1px solid #cbcbcb;
    background-color:#fff;
    width:auto;
    font-size:12px;
    margin:-1px
}
.table_r14_hm th,.table_r14_hm td {
    border:1px solid #e3e3e3;
    vertical-align:middle;
    text-align:center;
    font-family:'宋体'
}
.table_r14_hm th {
    background-color:#f0f0f0;
    line-height:20px
}
.table_r14_hm td {
    line-height:16px;
    background-color:#f9f9f9;
    padding:0 8px;
    width:22px
}
.table_r14_hm td.team_hd {
    background-color:#f9f9f9;
    color:#717172;
    line-height:24px;
    height:82px
}
.table_r14_hm th.award,.table_r14_hm td.award {
    background-color:#f17c28;
    color:#fff;
    padding:0;
    line-height:20px;
    width:38px;
    border:1px solid #e3e3e3
}
.table_r14_hm td.award {
    font:bold 14px/20px '宋体'
}
.table_r14_hm .vc_con td {
    font-weight:bold
}
.against,.against_detail {
    height:123px;
    *height:124px;
    overflow:hidden;
    position:relative;
    border:1px solid #cbcbcb;
    margin-bottom:10px
}
.against .table_r14_hm tfoot {
    position:absolute;
    bottom:-1px;
    left:-1px;
    z-index:10;
    color:#c0c0c0
}
.against .table_r14_hm tfoot tr {
    *position:absolute;
    *bottom:1px;
    *left:1px;
    z-index:10
}
.against_detail {
    height:226px
}
.against_detail .table_r14_hm tfoot tr,.against_detail .table_r14_hm tfoot {
    height:auto;
    position:static;
    bottom:auto;
    left:auto;
    z-index:10
}
.award_box {
    position:absolute;
    top:0;
    right:0;
    width:141px;
    background-color:#fff;
    padding:1px;
    font-size:12px;
    color:#717172;
    height:100%;
    overflow:hidden;
    z-index:11;
    font-family:sinsum
}
.award_box .title {
    background-color:#faf4e6;
    height:20px;
    line-height:18px;
    text-align:center;
    margin-bottom:5px
}
.award_box p {
    line-height:18px;
    width:120px;
    margin:0 auto 2px;
    text-align:right
}
.award_box p span,.award_box p em {
    width:55px;
    display:inline-block;
    white-space:nowrap
}
.award_box p span {
    width:50px;
    float:left
}
.against .btn_detail,.against_detail .btn_detail {
    position:absolute;
    border-bottom:1px solid #fff;
    bottom:0;
    right:1px;
    display:block;
    height:18px;
    width:141px;
    background-position:center -83px;
    z-index:12;
    cursor:pointer;
    text-indent:-9999px;
    overflow:hidden
}
.against_detail .btn_detail {
    background-position:center -102px
}
.against .waiting,.against_detail .waiting {
    width:85px;
    height:24px;
    margin:30px auto;
    background:url("../../images/groupbuy.png?t=20120319") no-repeat scroll 0 -121px;
    text-indent:-9999px;
    overflow:hidden
}
.against_detail .waiting {
    margin-top:80px
}
.btn_detail {
    background:url(../../images/groupbuy.png?t=20120319) no-repeat
}
.dzAward .btn_detail,.dzAward_detail .btn_detail {
    position:absolute;
    border-bottom:1px solid #fff;
    bottom:0;
    right:1px;
    display:block;
    height:18px;
    width:100%;
    background-position:center -83px;
    z-index:12;
    cursor:pointer;
    text-indent:-9999px;
    overflow:hidden
}
.dzAward_detail .btn_detail {
    background-position:center -102px
}
.btn_detail_box {
    position:relative;
    float:right;
    height:20px;
    width:186px;
    border:1px solid #efefef;
    border-top:0
}
.btn_detail_box .btn_detail {
    width:184px;
    border-left:1px solid #fff
}
.against_c4,.against_c6 {
    height:auto;
    *height:auto;
    zoom:1
}
.against_c4 .award_box,.against_c6 .award_box {
    height:200px
}
.against_c4 .table_r14_hm tfoot,.against_c6 .table_r14_hm tfoot,.against_c4 .table_r14_hm tfoot tr,.against_c6 .table_r14_hm tfoot tr {
    position:static
}
.table_c4 td,.table_c4 td.award {
    padding:0 22px;
    width:22px
}
.table_c6 td,.table_c6 td.award {
    padding:0 11px;
    width:23px
}
.against_c6 tr.tc_con td {
    line-height:20px;
    background-color:#f0f0f0
}
.against_infor {
    margin:0 10px 10px 10px;
    font-size:12px
}
.against_infor .tip_cgtj {
    display:inline-block;
    width:60px;
    height:18px;
    line-height:18px;
    background:url(../../images/newlottrey_icon.png?t=20130125) no-repeat -481px -195px;
    text-align:center;
    color:#fff
}
.against_infor .square_org {
    display:inline-block;
    width:17px;
    height:17px;
    background:#f17c28;
    text-align:center;
    color:#fff;
    line-height:17px;
    margin:0 5px 0 8px;
    font-weight:bold
}
.billDetail {
    padding:10px;
    font-size:12px
}
.table_c4 td.team_hd,.table_c6 td.team_hd {
    padding:0 8px
}
.table_c4 td.team_hd {
    padding:0 13px
}
.btn_zctc,a.btn_zctc,a.btn_zctc:visited {
    display:inline-block;
    width:84px;
    height:25px;
    font:bold 12px/24px Simsun;
    color:#FFF;
    background:url(../../images/salle.png) -153px -125px;
    text-align:center
}
a.btn_zctc:hover {
    color:#fff;
    text-decoration:none
}
.nopay {
    padding:20px;
    text-align:center
}
.arrow_d,.arrow_r {
    display:inline-block;
    height:0;
    line-height:0;
    border:solid #fff;
    width:0;
    margin-right:4px;
    cursor:pointer;
    position:relative
}
.arrow_d {
    border-width:4px 4px 0 4px;
    border-top-color:#2b2b2b;
    margin-bottom:3px;
    *margin-bottom:0;
    *top:2px
}
.arrow_r {
    border-width:4px 0 4px 4px;
    border-left-color:#2b2b2b;
    *top:4px
}
.billLost {
    background:#000;
    color:#fff;
    padding:2px 3px
}
.table_grayborder .betscheme {
    display:inline-block;
    line-height:14px;
    padding:3px 5px;
    border:1px solid #fff;
    margin:0 2px 2px 0
}
.table_grayborder .hited {
    background-color:#ba2636;
    border:1px solid #ba2636;
    color:#fff
}
.filterBox {
    margin-top:25px
}
.filterBox .table_filter {
    border:1px solid #d5d5d5
}
.table_filter {
    font-size:12px;
    text-align:center;
    width:100%;
    line-height:30px
}
.table_filter thead th {
    text-align:center;
    background:#f5f5f5;
    border-bottom:1px solid #d5d5d5;
    border-right:1px solid #d5d5d5
}
.table_filter tbody th {
    text-align:center;
    background:#f5f5f5;
    border-top:1px solid #d5d5d5
}
.table_filter td {
    border-top:1px solid #d5d5d5;
    border-left:1px solid #d5d5d5;
    line-height:20px;
    padding:5px 0
}
.ico_right,.ico_wrong {
    display:inline-block;
    width:14px;
    height:14px;
    vertical-align:middle;
    background:url(../../images/icon_lucency.png?t=20120606) -113px -42px no-repeat
}
.ico_wrong {
    background-position:-93px -42px
}
.r_kjgg {
    padding:5px 10px;
    line-height:24px
}
.r_kjgg b {
    font-size:13px
}
.r_kjgg .fb_ball span {
    width:14px;
    height:18px;
    line-height:18px;
    margin-right:1px;
    background:#f17c28
}
.table_kj {
    width:100%;
    line-height:20px;
    margin-top:3px;
    text-align:center
}
.table_kj th {
    color:#717172;
    text-align:center;
    background-color:#f5f5f5
}
.table_kj td {
    line-height:22px
}
.bddot {
    border-bottom:1px dotted #ddd
}
.ball_right .sw_box {
    border:0
}
.sw_box {
    border:1px solid #e6e6e6;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
    -webkit-border-radius:3px
}
.sw_box em {
    height:18px;
    line-height:19px;
    text-align:center;
    text-shadow:1px 0 0 #fff;
    cursor:pointer;
    background:url(../../images/new_d11.png) no-repeat;
    background-position:center -21px;
    display:block;
    border:1px solid #fff;
    -moz-border-radius:2px;
    -khtml-border-radius:2px;
    -webkit-border-radius:2px;
    background-repeat:repeat-x
}
.sw_box .sw_open {
    color:#989898
}
.sw_box .sw_close {
    color:#2b2b2b;
    background-position:center 0
}
.selectnum_infor {
    padding:10px 10px 5px 10px;
    font-size:12px;
    *margin-top:-5px
}
.comTip,.howTip,.howNoMathTip {
    background-color:#fff7d2;
    border:1px solid #e3c993;
    color:#864f35;
    line-height:18px;
    padding:5px 8px;
    position:absolute;
    z-index:200;
    font:12px/20px "宋体"
}
.red {
    color:#f00
}
.howTip {
    width:349px
}
.howNoMathTip {
    width:360px
}
.howTip h3,.howNoMathTip h3 {
    font:bold 14px/25px "宋体"
}
.howTip div,.howNoMathTip div {
    padding:8px;
    background:#fff;
    border:1px solid #e3c993
}
.comTip i,.howTip i,.howNoMathTip i,.compareTip i {
    background:url(../../img/index/indexIcon_other.png?f79b633791f47e1b23167e6003229607) no-repeat scroll 0 -120px transparent;
    height:7px;
    position:absolute;
    left:10px;
    top:-7px;
    width:13px;
    z-index:10
}
#afterTaxAward {
    width:250px
}
.jjCompare {
    font:12px/20px "宋体";
    margin:0 0 0 10px
}
.jjCompare,a.jjCompare:link,a.jjCompare:visited,a.jjCompare:hover {
    text-decoration:none;
    color:#f00
}
.guoguan_detail {
    padding:10px 0;
    font-family:'宋体'
}
.selectnum_detail {
    margin:0 10px;
    position:relative;
    padding-top:10px;
    z-index:100
}
.selectnum_list {
    position:relative;
    z-index:20;
    height:29px;
    border-bottom:1px solid #cbcbcb
}
.selectnum_list li {
    padding:6px 0;
    border:1px solid #cbcbcb;
    height:16px;
    _height:18px;
    float:left;
    text-align:center;
    -webkit-border-radius:3px 3px 0 0;
    -moz-border-radius:3px 3px 0 0;
    cursor:pointer;
    margin-right:5px;
    font-size:14px;
    line-height:16px;
    position:relative;
    background-color:#fff;
    background-image:none;
    width:120px;
    font-size:13px;
    margin-right:10px;
    _bottom:-1px;
    z-index:100
}
.selectnum_list li.active {
    background:url(../../images/zqdc_table.png) repeat-x 0 -10px #fff;
    color:#2b2b2b;
    font-weight:bold;
    border-bottom-color:#fff;
    font-size:14px
}
.plantype {
    font-size:12px;
    width:300px;
    text-align:right;
    margin:-25px 0 0 420px;
    position:absolute
}
.selectnum_title {
    padding:7px 10px 7px 15px;
    font-size:12px;
    line-height:24px;
    clear:both;
    position:relative;
    z-index:30;
    border:solid #cecece;
    border-width:0 1px;
    font-family:simsun
}
.selectnum_title .cusp {
    display:inline-block;
    vertical-align:middle;
    height:0;
    line-height:0;
    border:solid #fff;
    width:0;
    margin-right:4px;
    cursor:pointer;
    border-width:4px 0 4px 4px;
    border-left-color:#2b2b2b;
    *margin-top:8px;
    *margin-bottom:8px
}
.selectnum_con,.statistics_con {
    padding:0;
    border:1px solid #cecece;
    border-top:0;
    position:relative;
    z-index:10;
    overflow:visible
}
.statistics_con {
    padding:0 0 10px
}
.selectnum_table {
    border:0;
    border-bottom:1px solid #f1f1f1;
    margin-left:-1px;
    position:relative
}
.selectnum_table th,.selectnum_table td {
    border-left:1px solid #e3e3e3;
    border-bottom:1px solid #f1f1f1;
    text-align:center;
    font-family:'宋体';
    line-height:18px;
    font-size:13px;
    padding:5px 0
}
.selectnum_table th {
    border:1px solid #e3e3e3;
    border-right:0;
    color:#717172;
    padding:5px 0;
    background-color:#f1f1f1
}
.selectnum_table .odd td {
    text-align:right
}
.selectnum_table td.t_r {
    text-align:right
}
.selectnum_table td.t_c {
    text-align:center
}
.selectnum_table td.t_l {
    text-align:left
}
.selectnum_table .play_eg_box:hover span {
    border-color:#e3e3e3;
    width:65px;
    text-align:center;
    left:-25px
}
.selectnum_table .play_eg_box:hover .auto {
    border-color:#e3e3e3;
    width:auto;
    padding:0 5px;
    text-align:center;
    left:-25px
}
.statistics {
    padding:0
}
.statistics_con {
    padding:0
}
.statistics .table_grayborder {
    border:solid #cbcbcb;
    border-width:1px 0;
    margin-left:-1px;
    _position:relative
}
.statistics .table_grayborder th,.statistics .table_grayborder td {
    border-right:0;
    text-align:center;
    padding:3px 2px;
    line-height:16px;
    height:auto
}
.statistics .table_grayborder th {
    font-weight:normal;
    color:#717172;
    background-color:#f1f1f1;
    padding:0;
    height:auto;
    line-height:20px
}
.statistics_title label {
    margin-right:15px
}
.statistics td.hit_td {
    background-color:#fff4dd;
    color:#ba2636
}
.statistics th.red_td {
    background-color:#d04747;
    color:#fff;
    width:60px
}
.statistics th.blue_td {
    background-color:#4689b2;
    color:#fff;
    width:60px
}
.statistics th.green_td {
    background-color:#58a948;
    color:#fff;
    width:60px
}
.statistics th.gray_td {
    background-color:#b1b1b1;
    color:#fff;
    width:60px
}
.statistics td.award_td {
    background-color:#fff;
    color:#ba2636;
    line-height:40px
}
.statistics td.bg_ba2636 {
    background-color:#ba2636;
    color:#fff
}
.spf_ratio {
    position:relative;
    height:0;
    width:100%;
    line-height:0;
    left:-2px;
    top:0;
    text-align:left;
    font-size:0
}
.spf_ratio .ratio_con {
    background-color:#f1f1f1;
    width:182px;
    height:5px;
    position:absolute;
    left:0;
    top:0;
    overflow:hidden;
    overflow:hidden;
    white-space:nowrap
}
.spf_ratio .ratio_win,.spf_ratio .ratio_tie,.spf_ratio .ratio_fail {
    display:inline-block;
    height:5px;
    background-color:#d04747;
    margin-right:1px
}
.spf_ratio .ratio_tie {
    background-color:#4689b2
}
.spf_ratio .ratio_fail {
    background-color:#58a948;
    margin-right:-2px
}
.bottom_tips {
    background-color:#f1f1f1;
    border-top:1px solid #fff;
    font-size:12px;
    padding:10px 5px
}
.selectnum_con .notice {
    border-top:1px solid #cbcbcb;
    margin:-1px -1px 0 0;
    background-color:#fff;
    padding-bottom:10px
}
.selectnum_con .index_page {
    padding-bottom:10px
}
#betBranch .selectnum_title {
    border:0;
    width:250px;
    position:absolute;
    top:30px;
    z-index:31
}
#betBranch .noHit {
    padding:0 10px 7px 15px;
    font-size:12px;
    line-height:24px;
    clear:both;
    position:relative;
    z-index:30;
    border:solid #cecece;
    border-width:0 1px;
    margin-top:-7px;
    top:0;
    width:auto
}
.chipped .against,.chipped .against_detail {
    margin:0 0 10px 0
}
.chipped .selectnum_detail {
    margin:0
}
.chipped .guoguan_detail {
    padding-bottom:0
}
.faxq_dssc {
    margin:0 20px;
    padding:0 0 10px;
    display:block;
    font-size:14px
}
.faxq_dssc li {
    display:block;
    padding:5px 0;
    line-height:21px;
    clear:both;
    border-bottom:1px dotted #cbcbcb
}
.faxq_dssc li .dssc_title {
    font-weight:bold;
    display:inline-block;
    width:90px;
    text-align:right;
    margin:0;
    padding:0
}
.faxq_dssc li .dssc_text {
    display:inline-block;
    width:500px
}
.faxq_dssc .icon_coyperr {
    float:none;
    vertical-align:middle;
    margin:0 2px 0 10px
}
.bgGrayArrow {
    background:url(../../images/salle.png) no-repeat scroll -183px -19px transparent;
    color:#fff;
    height:18px;
    margin-right:5px;
    text-align:center;
    width:60px;
    display:inline-block
}
.org_bgc {
    display:inline-block;
    height:16px;
    text-align:center;
    padding:0 2px 0 3px;
    font-weight:bold;
    color:#fff;
    background-color:#f17c28;
    line-height:18px;
    *line-height:16px;
    margin-right:3px
}
.mingxi_box {
    position:absolute;
    font-size:12px;
    display:inline-block;
    right:2px;
    top:4px;
    width:55px;
    text-align:center;
    z-index:200
}
.mingxi_title {
    border:2px solid #fff;
    display:inline-block;
    padding:2px 4px 0 4px;
    line-height:22px;
    z-index:250;
    background-color:#fff;
    font-weight:bold;
    position:relative
}
.mingxi_con {
    border:2px solid #bababa;
    z-index:200;
    background-color:#fff;
    padding-top:5px;
    width:280px;
    right:2px;
    _right:1px;
    top:25px;
    position:absolute;
    display:none
}
.mingxi_table {
    width:270px;
    line-height:21px;
    margin:0 5px 10px 5px;
    table-layout:fixed;
    white-space:normal;
    word-wrap:break-word;
    break-word:break-all
}
.mingxi_table th {
    color:#717172;
    text-align:center;
    border-bottom:1px solid #e7caa8
}
.mingxi_table td {
    border-bottom:1px solid #f3e7cf;
    line-height:18px;
    padding:4px 3px
}
.mingx_bottom {
    background-color:#efefef;
    clear:both;
    height:24px;
    line-height:24px;
    padding:0 10px
}
.mingx_bottom .cup_imgs {
    width:13px;
    height:14px;
    background-position:-78px -66px;
    position:relative;
    top:2px;
    margin-right:3px;
    display:inline-block
}
.openbox .mingxi_title {
    border-color:#bababa;
    border-bottom-color:#fff
}
.openbox .mingxi_con {
    display:block
}
.fqyt dt .num,.fqyt_btn,.gray_btn5,.gray_btn6 {
    background:url(../../images/jqc_dssc.png?t=20120509) no-repeat
}
.fqyt {
    padding:15px 10px 0 0;
    font-family:'宋体';
    clear:both;
    float:none
}
.fqyt dt {
    text-align:right;
    font-size:14px;
    float:left;
    width:160px;
    line-height:16px;
    padding-top:5px
}
.fqyt dt .num {
    display:inline-block;
    line-height:16px;
    width:17px;
    height:16px;
    background-position:-131px -61px;
    text-align:center;
    color:#d80e00;
    margin-right:5px
}
.fqyt dd {
    background-color:#fff;
    border:1px solid #ffe0d8;
    padding:10px 0;
    width:535px;
    float:right
}
.pb_15 {
    padding-bottom:15px
}
.fqyt .table_noborder th {
    text-align:right;
    line-height:26px
}
.fqyt .table_noborder td {
    padding-left:0
}
.fqyt .help_tip {
    margin:0
}
.fqyt .table_noborder textarea {
    width:260px
}
.fqyt .table_noborder input {
    width:58px
}
.fqyt .table_noborder input.w120 {
    width:120px
}
.fqyt_btn {
    background-position:0 0;
    width:147px;
    height:37px;
    padding:0;
    margin:0 10px 10px 215px
}
.btnbox_tzxs .fqyt_btn {
    background:url(../../images/btn_bg.png?110520) no-repeat scroll 0 -592px
}
.fqyt_scdd {
    background-color:#fff;
    padding:10px 20px;
    border-top:1px solid #cecece
}
.gray_btn5,.gray_btn6 {
    background-position:0 -38px;
    width:74px;
    height:23px;
    line-height:23px;
    text-align:center;
    cursor:pointer;
    display:inline-block
}
.fqyt_scdd .gray_btn5 {
    margin:0 3px
}
.gray_btn5:hover {
    color:#1e50a1;
    text-decoration:none
}
.fqyt_buybox {
    clear:both;
    font-size:14px
}
.fqyt_buybox .syfs {
    float:left;
    display:inline-block;
    padding-top:15px;
    text-align:right;
    width:150px;
    margin-left:-50px
}
.fqyt_buybox .wym {
    float:left;
    display:inline-block;
    white-space:350px;
    line-height:26px
}
.gray_btn6 {
    background-position:-75px -38px;
    width:67px;
    height:21px;
    line-height:20px
}
.gray_btn6:hover {
    text-decoration:none
}
.xgbmsz {
    border:1px solid #cecece;
    padding:5px 0 5px 10px;
    *padding:5px 0 5px 5px;
    line-height:21px
}
.fqyt_tags {
    padding:8px 0 10px 10px;
    font-size:12px;
    font-family:'宋体';
    line-height:18px
}
.btn_zctc,a.btn_zctc,a.btn_zctc:visited {
    display:inline-block;
    width:84px;
    height:25px;
    font:bold 12px/24px Simsun;
    color:#FFF;
    background:url(../../images/salle.png) -153px -125px;
    text-align:center
}
a.btn_zctc:hover {
    color:#fff;
    text-decoration:none
}
.nopay {
    padding:20px;
    text-align:center
}
.arrow_d,.arrow_r {
    display:inline-block;
    height:0;
    line-height:0;
    border:solid #fff;
    width:0;
    margin-right:4px;
    cursor:pointer;
    position:relative
}
.arrow_d {
    border-width:4px 4px 0 4px;
    border-top-color:#2b2b2b;
    margin-bottom:3px;
    *margin-bottom:0;
    *top:2px
}
.arrow_r {
    border-width:4px 0 4px 4px;
    border-left-color:#2b2b2b;
    *top:4px
}
.billLost {
    background:#000;
    color:#fff;
    padding:2px 3px
}
.comTip,.howTip,.howNoMathTip {
    background-color:#fff7d2;
    border:1px solid #e3c993;
    color:#864f35;
    line-height:18px;
    padding:5px 8px;
    position:absolute;
    z-index:200;
    font:12px/20px "宋体"
}
.red {
    color:#f00
}
.howTip {
    width:349px
}
.howNoMathTip {
    width:360px
}
.howTip h3,.howNoMathTip h3 {
    font:bold 14px/25px "宋体"
}
.howTip div,.howNoMathTip div {
    padding:8px;
    background:#fff;
    border:1px solid #e3c993
}
.comTip i,.howTip i,.howNoMathTip i,.compareTip i {
    background:url(../../img/index/indexIcon_other.png?f79b633791f47e1b23167e6003229607) no-repeat scroll 0 -120px transparent;
    height:7px;
    position:absolute;
    left:10px;
    top:-7px;
    width:13px;
    z-index:10
}
#afterTaxAward {
    width:250px
}
.jjCompare {
    font:12px/20px "宋体";
    margin:0 0 0 10px
}
.jjCompare,a.jjCompare:link,a.jjCompare:visited,a.jjCompare:hover {
    text-decoration:none;
    color:#f00
}
.tipHelp {
    font:12px/20px "宋体";
    padding:0 0 0 10px
}
.tipHelp a {
    margin:0 0 0 10px;
    text-decoration:none
}
#tips {
    margin:5px 0 0
}
.alllock,.halfock {
    height:75px;
    line-height:75px;
    padding-left:150px;
    margin:10px 0;
    background:url(../../img/hall/lock.png) no-repeat 104px 0 #ebebeb
}
.halfock {
    background-position:104px -76px
}
.table_szc {
    width:100%;
    margin:0;
    font-size:13px;
    position:relative
}
.table_szc td,.table_szc th {
    border:1px solid #e3e3e3;
    border-width:1px 0;
    padding:5px 0;
    text-align:center
}
.table_szc th {
    padding:5px
}
.table_szc td.t_l {
    text-align:left
}
.table_szc td.bdr,.table_szc th.bdr {
    border-right:1px solid #e3e3e3
}
.jtipWraper {
    margin-top:-5px
}
.blue_title {
    margin-top:10px
}
.ico_clock {
    display:block;
    width:15px;
    height:16px;
    background:url(/Images/icon16px.png?t=201304181041) -185px -21px no-repeat;
    margin:-1px auto 0 auto
}
.table_grayborder .gameing {
    background:url(../../img/lotteryBet/jqc/gameingBg.png) no-repeat right top
}
.scoreSpan {
    display:block;
    height:40px;
    font-weight:bold;
    color:#1e50a2;
    cursor:pointer;
    position:relative;
    z-index:10
}
.scoreSpan span {
    color:#1e50a2;
    line-height:14px;
    padding:13px 0 11px;
    display:inline-block
}
.scoreSpan span.c_ba2636 {
    color:#ba2636
}
.ico_arrow {
    border-color:#333 transparent;
    border-style:solid;
    _border-style:solid dashed;
    display:inline-block;
    height:0;
    font-size:0;
    line-height:0;
    width:0;
    border-width:3px 3px 0 3px;
    position:relative;
    z-index:12;
    top:-2px;
    *top:-13px;
    left:3px;
    zoom:1
}
.scoreSpan span .ico_arrow {
    top:-2px
}
.grayNotice {
    background-color:#f3f3f3;
    color:#b1b1b1;
    height:29px;
    line-height:29px;
    font-size:12px;
    padding-left:15px
}
.dssc_title em,.dssc_title strong,.upload_file,.file_err {
    background:url(../../images/jqc_dssc.png?t=20120509) no-repeat
}
.dssc_box {
    font-size:12px;
    border:1px solid #cbcbcb;
    padding:15px 0 20px 10px;
    margin-bottom:10px
}
.dssc_title {
    clear:both;
    float:none;
    height:27px;
    line-height:27px;
    margin-bottom:10px;
    padding-right:10px
}
.dssc_title em,.dssc_title strong {
    display:block;
    overflow:hidden;
    text-indent:-9999px;
    height:26px;
    float:left
}
.dssc_title em {
    width:26px;
    margin-right:5px
}
.dssc_title em.step1 {
    background-position:-121px -100px
}
.dssc_title em.step2 {
    background-position:-121px -128px
}
.dssc_title em.step3 {
    background-position:-121px -156px
}
.dssc_title em.step4 {
    background-position:-121px -185px
}
.dssc_title strong {
    width:98px
}
.dssc_title strong.title_xzwj {
    background-position:0 -133px
}
.dssc_title strong.title_xzcc {
    background-position:0 -161px;
    margin-right:15px
}
.dssc_title strong.title_qrtj {
    background-position:0 -189px
}
.dssc_title strong.title_xzggfs {
    background-position:0 -218px;
    width:144px
}
.upload_box p {
    padding-left:190px;
    line-height:20px
}
.upload_box .gray_box {
    background-color:#fafafa;
    padding:12px 0;
    text-align:center;
    margin:0 10px 10px 0;
    font-family:'宋体';
    line-height:24px
}
.upload_file {
    position:relative;
    overflow:visible;
    width:72px;
    height:31px;
    cursor:pointer;
    padding-left:40px;
    display:inline-block;
    font-size:14px;
    line-height:30px;
    color:#2b2b2b;
    background-position:0 -100px;
    margin:0 10px 0 45px;
    text-align:left
}
.upload_file:link,.upload_file:visited,.upload_file:hover {
    color:#2b2b2b;
    text-decoration:none
}
.upload_file .file_btn {
    position:absolute;
    filter:alpha(opacity=0);
    opacity:0;
    width:112px;
    height:31px;
    display:block;
    overflow:hidden;
    visibility:hidden;
    width:112px;
    height:31px;
    top:0;
    left:0;
    cursor:pointer;
    z-index:200
}
.upload_file .file_btn input {
    cursor:pointer;
    font-size:40px;
    position:absolute;
    right:0
}
.upload_file:hover .file_btn {
    visibility:visible
}
.file_err {
    display:inline-block;
    margin-right:3px;
    background-position:-130px -80px;
    width:17px;
    height:18px;
    line-height:21px;
    position:relative;
    top:3px
}
.dssc_tags {
    padding:8px 0 0 10px;
    border:solid #cbcbcb;
    border-width:0 1px;
    font-size:12px;
    font-family:'宋体';
    line-height:18px;
    background-color:#fff;
    position:relative;
    bottom:-1px;
    z-index:10
}
.dssc_qrtj {
    border:1px solid #cbcbcb;
    padding:15px 10px 20px;
    font-size:12px
}
.dssc_qrtj .next_con {
    padding:8px 0 8px 10px;
    line-height:21px;
    text-align:center
}
.dc_sslb {
    display:block;
    clear:both;
    float:none;
    margin:0 0 -10px -10px
}
.dc_sslb dt {
    height:30px;
    line-height:30px;
    background-color:#f8f8f8;
    border-bottom:1px solid #e3e3e3
}
.dc_sslb dd {
    padding:10px 0 5px 15px;
    clear:both
}
.dc_sslb dd label {
    display:inline-block;
    float:left;
    width:230px;
    overflow:hidden;
    white-space:nowrap;
    padding-bottom:8px
}
.uploadpupop {
    width:560px
}
.uploadpupop .urs_login_con {
    font-size:12px;
    padding:0
}
.uploadpupop .upload_box {
    margin-bottom:15px
}
.next_con {
    text-align:left;
    padding:0 2px 2px;
    margin:0 25px 15px;
    clear:both;
    font-family:"宋体",Arial;
    font-size:12px;
    line-height:24px;
    float:none;
    border:1px solid #ffe2d4;
    background-color:#fdf0ec;
    -webkit-border-radius:3px;
    -moz-border-radius:3px
}
.next_con .tabTips {
    position:absolute;
    right:-559px;
    top:5px;
    font-size:12px;
    white-space:nowrap
}
.btnbox,.btnbox_tzxs {
    text-align:center;
    line-height:28px;
    font-size:12px
}
.input30 {
    border:1px solid #818181;
    width:45px;
    height:16px;
    line-height:16px;
    vertical-align:middle;
    text-align:center
}
.splitPages2 {
    line-height:22px;
    padding:7px 0 8px 0;
    border:0;
    position:relative;
    margin-top:-1px
}
.splitPages2 a,.splitPages2 span,.splitPages2 em {
    height:22px;
    line-height:22px;
    border:0;
    padding:0;
    margin:0 1px
}
.splitPages2 .jumptoTxt,.splitPages2 .jumptoBtn {
    height:20px;
    line-height:20px;
    margin:0 5px
}
.splitPages2 .prevPage,.splitPages2 .nextPage,.splitPages2 .jumptoTip {
    background:0;
    border:0;
    font-weight:normal;
    float:none
}
.splitPages2 span {
    font-weight:bold;
    border:0
}
.splitPages2 a:hover,.splitPages2 span {
    background:0;
    color:#ba2636
}
.splitPages2 span.prevPage i,.splitPages2 a.prevPage i {
    border-width:4px 4px 4px 0;
    top:7px;
    top:5px\9
}
.splitPages2 span.nextPage i,.splitPages2 a.nextPage i {
    border-width:4px 0 4px 4px;
    top:7px;
    top:5px\9
}
.splitPages2 a.nextPage i {
    border-width:4px 0 4px 4px;
    top:8px;
    top:6px\9
}
.splitPages2 .jumptoBtn {
    background:url(/images/btn_repeat.png) 0 -103px repeat-x;
    border:1px solid #c3c3c3;
    border-radius:2px;
    -webkit-border-radius:2px;
    line-height:21px;
    overflow:hidden
}
.timetips {
    vertical-align:baseline;
    zoom:1
}
.repurchaseBtn,.repurchaseBtn:link,.repurchaseBtn:visited,.repurchaseBtn:hover {
    display:inline-block;
    height:25px;
    width:75px;
    background:url(/images/btn_repeat.png) 0 -23px repeat-x;
    font:bold 12px/25px simsun;
    color:#fff;
    text-align:center;
    border-radius:2px;
    -webkit-border-radius:2px;
    cursor:pointer;
    margin:0 0 0 15px;
    text-decoration:none
}
.main_table .repurchaseBtn,.main_table .repurchaseBtn:link,.main_table .repurchaseBtn:visited,.main_table .repurchaseBtn:hover {
    margin:-5px 10px
}
.chipped .sfc_xh table .c_rf {
    color:#b0b0b0;
    font-size:12px
}