.custom {
	background: #1599e4;
	margin-top: 10px;
	padding-bottom: 0
}

.custom a {
	color: #6a9dd1
}

.loginBanner {
	/*margin-top: 102px;*/
	display: block
}

.login-main {
	width: 100%;
	margin: 0 auto
}

.loginBox {
	background: #fbfbfb;
	width: 300px;
	padding: 39px 53px 30px
}

.login-tit {
	display: inline-block;
	width: 300px;
	border-bottom: 1px solid #d9d9d9;
	height: 40px
}

.login-tit h3 {
	display: inline-block;
	color: #656565;
	font-weight: 700;
	font-size: 16px
}

.login-tit .lik {
	float: right;
	display: inline-block;
	font-size: 12px
}

.loginM {
	border-top: 1px solid #fff;
	padding-top: 20px
}

.loginM .mt {
	margin-top: 20px
}

.loginBtn {
	border: 0;
	width: 293px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	background: #fe7c31;
	cursor: pointer;
	margin-top: 30px
}

.loginPtn {
	margin-top: 20px
}

.loginPtn .tit {
	height: 26px;
	border-bottom: 1px solid #eae9e9
}

.loginPtn .lik {
	margin-top: 14px
}

.loginPtn .lik a {
	margin-right: 7px
}