@charset "utf-8";

/*开始游戏*/
.game_top_area{border:1px solid #222;}
.game_top_period{padding:5 5px 5px 5px;border:2px solid #CCCCCC;}
.game_top_aleft{padding:5px 5px 5px 10px; width:330px;border:2px solid #CCCCCC;}
.game_top_aleft li{width:100%;zoom:1;overflow:hidden;clear:both;vertical-align:middle;padding-bottom:5px;}
.game_top_aleft li span{display:inline;;line-height:22px;padding:0 5px 0 0;overflow:hidden;}
 
.game_top_aleft .tit .i1{font-size:14px;font-weight:bold;padding:3px 2px 0px 0px;} 
.game_top_aleft .ni{padding-top:10px; font-size:16px;}
.game_top_aleft .ni span{margin-right:0px;}
.game_top_aleft .ni .i1{font-weight:bold;padding:2px;}
.game_top_aleft .ni .i2{color:#000000;}
.game_top_aleft .ni .i2 span{color:#FF0000;}
.game_top_aleft .ni .i2 .wjtips{font-weight:bold; font-size:14px; color:#fe7c31;}

.game_top_aleft .tm .i1{border:1px solid #bbb;background:#fff;line-height:20px;text-align:center;}
.game_top_aleft .tb em{float:left;display:inline-block;height:50px;line-height:50px;font-size:14px; margin-right:5px;}
.game_top_aleft .tb .i2{float:left;display:inline-block;background: url(/images/common/timebg.png) 0px 5px no-repeat;height: 50px;padding-left: 50px;width: 126px;color:#B4FF00;font-weight:bold;font-size:28px; line-height:50px;font-family: Arial, "微软雅黑", Times, serif;}
.game_top_aleft span.pdl0{padding-left:0;}

.game_top_aright{border:2px solid #CCCCCC; width:500px; text-align:center;}
.game_top_aright .tit{text-align:center;height:30px;line-height:30px;padding:0px 10px;}
.game_top_aright .tit .gamename{font-size:15px;font-weight:bold;color:#FF0000;}
.game_top_aright .tit #kjsay{margin-left:5px; font-size:13px; display:none;}
.game_top_aright .tit .kjtips{color:#FF0000; font-weight:bold;}
.game_top_aright #last_issue{color:#fff;}
.game_top_aright .tit .feipan{margin-left:15px;font-size:15px;font-weight:bold;color:#000000;}
.game_top_aright .tit .feipan em{font-size:15px;font-weight:bold;color:#000000;}
#historylot th{font-size:14px; font-weight:bold; text-align:center;}
#historylot .periodlist{height:25px; line-height:25px;word-break:break-all;overflow:hidden;border-top:1px solid #CCCCCC;}

.grid_code_ssc{height:67px;padding-top:10px;}
/*号码*/
.kj-hao{margin-left:8px;}
.kj-hao li{float:left; display:inline;}
.gr_s {
	background: url("/images/common/n.png") no-repeat -720px top;
	width: 77px;
	height: 76px;
	float: left;
	margin: auto 10px auto 15px;
}
.gr_s1 {
	background-position: left top;
}
.gr_s2 {
	background-position: -80px top;
}
.gr_s3 {
	background-position: -160px top;
}
.gr_s4 {
	background-position: -240px top;
}
.gr_s5 {
	background-position: -320px top;
}
.gr_s6 {
	background-position: -400px top;
}
.gr_s7 {
	background-position: -480px top;
}
.gr_s8 {
	background-position: -560px top;
}
.gr_s9 {
	background-position: -640px top;
}
.gr_s0 {
	background-position: -720px top;
}
.gr_s01 {
	background-position: left bottom;
}
.gr_s02 {
	background-position: -80px bottom;
}
.gr_s03 {
	background-position: -160px bottom;
}
.gr_s04 {
	background-position: -240px bottom;
}
.gr_s05 {
	background-position: -320px bottom;
}
.gr_s06 {
	background-position: -400px bottom;
}
.gr_s07 {
	background-position: -480px bottom;
}
.gr_s08 {
	background-position: -560px bottom;
}
.gr_s09 {
	background-position: -640px bottom;
}
.gr_s10 {
	background-position: -720px bottom;
}
.gr_s11 {
	background-position: -800px bottom;
}
.gr_s020 {
	float:left; 
	width:40px;
	height:40px; 
	line-height:40px;
	margin:8px 5px 0 8px;
	text-align:center;
	font-size:18px;
	color:#FFF;
	background: url(/images/index/cbm.gif) no-repeat;
	text-align: center;
	font-weight: bold;
}
.gr_sx, .gr_sk {
	background-position: -800px top;
}
.gr_ks {
	background: url("/images/common/ks.gif") no-repeat left top;
	width: 77px;
	height: 76px;
	float: left;
	margin: 3px 4px;
}
.gr_ks1 {
	background-position: left top;
}
.gr_ks2 {
	background-position: -78px top;
}
.gr_ks3 {
	background-position: -156px top;
}
.gr_ks4 {
	background-position: -234px top;
}
.gr_ks5 {
	background-position: -312px top;
}
.gr_ks6 {
	background-position: -390px top;
}
.gr_ksm1 {
	background-position: left bottom;
}
.gr_ksm2 {
	background-position: -78px bottom;
}
.gr_ksm3 {
	background-position: -156px bottom;
}
.gr_ksm4 {
	background-position: -234px bottom;
}
.gr_ksm5 {
	background-position: -312px bottom;
}
.gr_ksm6 {
	background-position: -390px bottom;
}
.gr_ksx, .gr_ksk {
	background: url("/images/common/n.png") no-repeat -720px top;
	width: 77px;
	height: 76px;
	float: left;
	margin: 3px 4px;
	background-position: -800px top;
}

.yellow{color:yellow;}
.red{color:red;}

/*买单部分*/
.game-main .game-btn{height:35px;line-height:35px;padding-bottom:5px;background:url(/images/common/tabbg.jpg) repeat-x scroll left bottom;overflow:hidden;} 
.game-main .game-btn .ul-li a{color:#000000; font-size:14px; font-weight:bold;}
.game-main .game-btn .ul-li.current a{color:#FFF;}

.game-main .game-btn .ul-li {
	float: left;
	background: url(/images/common/game_bg.png) no-repeat right -425px;
	text-align: center;
	display: block;
	padding: 3px 15px 0 15px;
	cursor: pointer;
}
.game-main .game-btn .ul-li.current {
	float: left;
	background: url(/images/common/game_bg.png) no-repeat right -390px;
	text-align: center;
	display: block;
	height: 35px;
	margin: 0 0 0 -3px;
	cursor: pointer;
}
.game-main .game-btn .ul-li .content {
	display: block;
	height: 35px;
	line-height:25px;
}
.game-main .game-btn .ul-li.current .content {
	display: block;
	height: 35px;
	line-height:30px;
	color: #fff;
	_float: left;
}
/*投注区域 前三复式*/
.game-btn2{padding:5px 10px;}
.game-btn2 .ul-li {
	line-height:10px;
	height: 30px;
	line-height:30px;
	font-size:13px;
	border:0;
	border-radius:5px;
	background-repeat:repeat-x;
	border:1px #dc4545 solid;
	cursor:pointer;
	float: left;
	width:95px;
	text-align:center;
	display: block;
	margin-right: 12px;
	text-decoration: none;
}
.game-btn2 .ul-li:hover {
	background-color:#e33f3f;
	color:#FFFFFF;
}
.game-btn2 .ul-li:hover a {
	background-position: left -610px;
	color:#FFFFFF;
}
.game-btn2 .ul-li.current {
	background-color:#e33f3f;
}
.game-btn2 .ul-li.current a {
	background-color:#e33f3f;
	color:#FFFFFF;
}
.game-btn2 #game-helptips{margin-top:2px; padding-left:10px;}

textarea{border:1px solid #CCCCCC;}
.num-table{padding:10px 0;}
.num-table .pp{clear:both;height:100%;line-height:40px;padding:2px 5px;overflow:hidden;}
.num-table .pp .title{float: left; display:inline;width: 82px;height: 38px;line-height: 38px;color: #000;font-size: 16px;background: url(/images/common/game_bg.png) no-repeat left bottom;margin-top: 5px;text-align: center;overflow: hidden; margin-right:20px;}
.num-table .pp .title2{display:inline-block;line-height:38px;width:80px;margin-top:5px;overflow:hidden; margin-right:20px;}
#num-select{overflow:hidden;padding:10px 5px;height:100%;}
#textarea-code{height:98px; width:100%;}
#game-helptips{position:relative;z-index:1;}
.showhelp {
	padding: 5px 0 5px 8px;
	height: 19px;
	line-height: 18px;
	
}
.showhelp h5, .showhelp a, .showhelp span {
	float: left;
	display: block;
	height: 19px;
}
.showhelp h5 {
	font-weight: normal;
	color: #000;
}
.showhelp .methodexample, .showhelp .methodhelp {
	background: url(/images/common/light.png) no-repeat right -140px;
	width: 41px;
	margin-left: 10px;
}
.showhelp .methodhelp {
	background-position: right -170px;
	width: 17px;
}
.game_eg{position: absolute; z-index: 9999;text-align:left; }
.game_eg .cont{width:260px;padding:10px;background:#D70002;line-height:20px;color:#FFFFFF;color:#fff;border-radius:8px;} 
.game_eg .cont strong{font-weight:bold;}
/*选号*/
.select_title_kl8{font-weight:bold;text-align:center;cursor:pointer;height:30px;display:inline;font-size:14px;line-height:30px;padding:5px 15px;background:#F4A908;color:#653809;margin:5px 10px 5px 5px;clear:both;}
.select_title_kl8 span{margin:5px;width:50px;}
.game .pp input.code, .game .pp label{display:inline;float:left; margin-right:5px;}
.game .pp input.code, .game .pp input{font-weight:bold;text-align:center;cursor:pointer;height:32px;display:inline;float:left;font-size:14px;}
.game .pp input.code, .game .pp input.action{color:#fff;margin:5px 2px 5px 0px;}
.game .pp input.code, .game .pp label input{ float:none; margin-right:2px;}
.game .pp input[type=checkbox]{width:14px; height:14px;}
.game .pp11 input.code,.game .pp11 input.action{line-height:32px;width:32px;}
.game .pp11 input[type=checkbox]{width:14px; height:14px;}
.game .pp input.code {
	cursor: pointer;
	margin-bottom: 5px;
	display: block;
	float: left;
	background: url(/images/new/ball_base.png) no-repeat left -425px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #000;
	text-decoration: none;
	font-size: 20px;
	margin-right: 2px;
	font-family:"微软雅黑","Microsoft Sans Serif";
	border:none medium;
}
.game .pp input.code.checked{background-position: left -468px;color: #fff;}
.game .pp input.code.reset{
	cursor: pointer;
	margin-bottom: 5px;
	display: block;
	float: left;
	background: url(/images/common/light.png) no-repeat -37px -80px;
	width: 72px;
	height: 38px;
	line-height: 36px;
	font-weight: bold;
	text-align: center;
	color: #000;
	text-decoration: none;
	font-size: 18px;
	margin-right: 2px;
}
.game .pp input.code.reset.checked{background-position: -37px -40px;color: #fff;}
.game .pp input.code.reset2{height: 38px;line-height: 36px; padding:0 10px; width:auto;background-image:none;background-color:#efefef;border:1px solid #CCC; border-radius:8px;}
.game .pp input.code.reset2.checked{background-color:#FF0000; color:#fff;}
.game .pp input.action {
	float:right;
    background: #ffffff;
	line-height:10px;
	height:30px;
	width:35px;
	padding:5px;
	padding-left:10px;
	padding-right:20px;
	border:0;
	margin-left:5px;
	margin-right:5px;
	color:#e33f3f;
	border-radius:5px;
	background-repeat:repeat-x;
	border:1px #dc4545 solid;
	cursor:pointer;
}
.game .pp input.action:hover,.game .pp input.action.on{background-color:#e33f3f;color:#ffffff;}


.num-table .fandian{height:32px;line-height:32px; margin-top:6px;}
.num-table .fandian span{float:left;}
.num-table .fandian span.spn8{font-weight:bold; margin-left:10px;}
.num-table .fandian span.spn9{width: 54px; overflow-x: visible;}
.num-table .fandian .fandian-k{height:32px; float:left; width:380px; }
.num-table .fandian .fandian-k .fandian-box{float:left; width:202px; height:17px; margin-top:7px; position:relative;background:url(images/img02.png) no-repeat left top;background-position:0 -259px;}
.fandian-box .slider{position:relative;width:148px;height:17px;left:20px;border:none;background:none;}
.fandian-box .slider a.ui-slider-handle{display:block;height:17px;background:url(/skin/main/images/fdianMove.gif) no-repeat;width:12px;position:absolute;border:none;margin:0;top:0; cursor:pointer}

.num-table .fandian .fandian-k .fandian-box input{position:absolute;background:url(/skin/main/images/fdian-bj.png); width:17px; height:17px; border:none;}
.num-table .fandian .fandian-k .fandian-box .min{left:0; top:0;}
.num-table .fandian .fandian-k .fandian-box .action{background:url(/skin/main/images/fdian-bj.png) -80px 0 no-repeat;width:12px;}
.num-table .fandian .fandian-k .fandian-box .max{right:0; top:0; background-position:-185px 0;}
.num-table .fandian .fandian-k .fdmoney{font-size:14px; color:#F00; font-weight:bold; margin-left:2px;}

.num-table .fandian .danwei{margin-left:10px; height:32px; float:left; margin-left:5px;}
.num-table .fandian .danwei input{cursor:pointer;}
.num-table .fandian .beishu{margin-left:10px; height:32px; float:left; display:inline; margin-right:30px;}
.num-table .fandian .beishu span{float:left;}
.num-table .fandian .beishu input.txt{height:20px; width:35px; text-align:center; float:left; border:1px solid #CCCCCC; margin-top:5px; font-size:14px; font-weight:bold;}
.num-table .fandian .beishu .surbeishu{float:left;background:url(/skin/main/images/fdian-bj.png); width:17px; height:17px; border:none; background-position:0 0; margin-top:8px; margin-right:3px;}
.num-table .fandian .beishu .addbeishu{float:left;background:url(/skin/main/images/fdian-bj.png); width:17px; height:17px; border:none;background-position:-185px 0;margin-top:8px; margin-left:3px;}
input.beishu{height:20px; width:35px; text-align:center; border:1px solid #CCCCCC; font-size:13px;}

.num-table .fandian .btn-preserve{height:23px; width:62px; background-position:-347px -450px; float:left; margin-left:15px; line-height:23px; margin-top:2px; text-align:center; font-weight:bold; cursor:pointer;}
.num-table .fandian .btn-preserve:hover{background-position:-347px -481px;color:#000}
.num-table .fandian .tztj-btn{float:left;border:0;width:77px;height:31px;cursor:pointer;}
.num-table .fandian .tztj-btn .tztj-hover{float:left;display: block;background: url(/images/common/light.png) no-repeat left -410px;width: 126px;height: 29px;cursor: pointer;}
.num-table .fandian .tztj-btn .tztj-hover:hover{background-position: left -440px;}

.num-table .fandian .fandian-k .fandian-box .action{background:url(/skin/main/images/fdian-bj.png) -80px 0 no-repeat;width:12px;}

/*投注*/
.touzhu{padding:0px 0px 5px;line-height:26px;}
.touzhu-top{height:30px;color:#222;padding:0 0px 0 10px;overflow:hidden;}
.touzhu-top .tz-top-btn{ float:right;height:26px; border-radius:10px;line-height:26px;cursor:pointer;border:1px solid #ffffff;background: none repeat scroll 0 0 #F4A908;color: #653809;font-weight: bold;font-weight:bold;margin:2px;text-align:center;overflow:hidden; padding:0 5px;}
.touzhu-top .tz-top-btn:hover{background:#9F110A;cursor:pointer;color:#E1C4C2;}
.touzhu-top .tz-top-btn[disabled]{background-position:0 -38px; color:#999;}
.touzhu-top .input-type{background-position:0 -125px; float:left; margin-left:25px; width:135px; height:26px;}
.touzhu-top .input-type input{cursor:pointer;}
label{ cursor:pointer;}

.touzhu-top .input-type .sb-bj{width:16px; height:26px; display:block; float:left}
.touzhu-top .input-type .jp-bj{background-position:-55px -125px; width:16px; height:26px; display:block; float:left}
.touzhu-top .prompt{float:left; margin-left:25px; width:200px; height:26px; color:#990000;overflow-x:visible;}

.touzhu-cont{width:894px;height:191px;overflow-y:auto;border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;}
.touzhu-cont table{width:100%;color:#333;}
.touzhu-cont td{padding:0 8px; height:30px; line-height:30px; font-size:14px;  text-align:center;cursor:default;}
.touzhu-cont tr{background:#F6F6F6; }
.touzhu-cont tr:hover{background:#cccccc; color:#222222;}
.touzhu-cont .del{background:url('/images/new/ico_base.png');background-repeat:no-repeat;background-position:-277px -145px; height:16px;width:22px; cursor:pointer;}

.touzhu-bottom{height:35px; line-height:35px; margin:5px 15px;}
.touzhu-bottom .tz-tongji{float:left; height:35px; width:300px;font-size:13px; }
.touzhu-bottom .tz-tongji span{font-size:15px; font-weight:bold; color:#F00; margin-right:5px;}
.touzhu-bottom .tz-buytype{width:470px; height:35px; float:left;}
.touzhu-bottom  .tz-true-btn{height:35px;line-height:35px; width:140px; float:right;}
.touzhu-bottom  .tz-true-btn .tz-true-hover{height:35px;width:140px;cursor:pointer; background:url(/images/common/sure_bet.png) no-repeat left center; text-indent:-9999px;}
.touzhu-bottom  .zh-true-btn{float:right;height:35px;width:140px;cursor:pointer; background:url(/images/common/sure_zh.png) no-repeat left center; text-indent:-9999px;}

.touzhu-true{background:#fff;border-top:1px solid #ccc;border-bottom:1px solid #CCCCCC;}
.touzhu-true a{color:#0077C3;}
.touzhu-true thead tr{background: none repeat scroll 0 0 #ccc; color:#FFF;height: 33px;line-height: 33px;overflow: hidden;}
.touzhu-true tbody tr{height:33px; line-height:33px;border-bottom:1px #fff dashed;}
.touzhu-true tbody tr:hover{background:#fe7c31;}
.touzhu-true tbody tr:hover a{color:#0077C3;}
.touzhu-true td{text-align:center;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}

